/*      CSS Items      */

body {
      font-family: Arial; 
      background: purple;
      background-image:  img="../img/pinkfloyd.jpg">
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;  }