<DOCTYPE html>

	<html>
		<head>
			 <style type="text/css">
   .psycheimg{
  background-image: url(../img/psyche.jpg); 
}
</style>
<body class="psycheimg">
  
			<title>CSS Playground</title>
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<body>
			  <div class="nav"> 
     	<ul>
     		<li><a class="default" href="../index.html">Home</a></li>
     		<li><a href="html-playground.html">HTML</a></li>
     		<li><a href="css-playground.html">CSS</a></li>
     		<li><a href="bootstrap-playground.html">Bootstrap</a></li>
     		<li><a href="Javascript-playground.html">Javascript</a></li>
     		<li><a href="jQuery-playground.html">jQuery</a></li>
     		<li><a href="git-playground.html">Git</a></li> 
     		<li><a href="Resources-playground.html">Resources</a></li>
      </ul>
    </div>

		 	<h1>CSS Items</h1>

		 	<div class="css-uses">
		 	<h3>Uses</h3>
		 	  <ul>
		 	  	   <li>To give the appearance of your site, a unique look and feel.</li>
		 	  	   <li>To alter colors, fonts, backgrounds, etc.</li>
		 	  	   <li>To implement some effects and animations, although its not as powerful as jQuery/Javascript</li>
		 	  	</ul>
		 	  </div>
		 	  	<hr>



		 	  	<div class="css-statements">
		 	  	<h3>CSS Statements</h3>
		 	  	<p>Four main components of CSS statement</p>
		 	  	<ol> 
		 	  		    <li><b>Declaration:</b> The whole CSS statement in curly braces.</li> 
		 	  		    <li><b>Selector:</b>The name of the part you want to style.</li>
		 	  		    <li><b>Property:</b>properties to edit (e.g. ,width, height, background, etc.)</li>
		 	  		    <li><b>Value:</b>Numbers, colors, urls - things to give value to the property</li>
		 	  	</ol>
		 	  	
		 	  	</div>





		 	  	<h3 id="dog" Classes</h3>
		 	  	<div class = "cat">Hello</div>  
		 </body>
    </html>


				<div id="face">
				</div>
				 <div class="lefteye">
				</div>
				  
			    <div id = "circle"> </div>
				<div id = "lefteye"> </div>
				<div id = "mouth"> </div>
				<div id = "innerrighteye"> </div>
				<div id = "innerlefteye"> </div>
				<div id = "righteyebrow"> </div>
				<div id = "lefteyebrow"> </div>


				<h1>Shapes<h1>
				<div class="shapes">

	<div id="circle">
			</div>
				<div id="square">
					</div>
					 <div id="color-square">
							</div>
				<div id="triangle-square">
    					 </div>
				<div id="triangle">
    					 </div>
				<div id="triangles">
    					 </div>
				<div class="triangle-border">
  
 					 <div class="inner-triangle"> </div>

							</div>


					</div>

