<DOCTYPE html>

	<html>
		<head>
			 <style type="text/css">
   .psycheimg{
  background-image: url(../img/psyche.jpg); 
}
			</style>
<body class="psycheimg">
  
			<title>HTML Playground</title>
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<body>
			  <div class="nav"> 
     	<ul>
     		<li><a class="default" href="../index.html">Home</a></li>
     		<li><a href="html-playground.html">HTML</a></li>
     		<li><a href="css-playground.html">CSS</a></li>
     		<li><a href="bootstrap-playground.html">Bootstrap</a></li>
     		<li><a href="Javascript-playground.html">Javascript</a></li>
     		<li><a href="jQuery-playground.html">jQuery</a></li>
     		<li><a href="git-playground.html">Git</a></li> 
     		<li><a href="Resources-playground.html">Resources</a></li>
     	</body>
        </ul>
    		</div>

		 	<h1>HTML Items</h1>
		 	<h2>Header Tags</h2>
		 	<h1>h1</h1>
		 	<h3>h3</h3>
		 	<h6>h6</h6>
		 	<hr>

		 	<h2>Paragraph Tag</h2>
		 	<p> LOL</p>
		 	<a href="http://www.w3schools.com/html/html_images.asp">w3schools resource</a> 
		 	<hr>
		 	<h2>Images</h2>
		 	  <p>Imagesare really easy to add. Create a folder called img. Save imgsin img folder</p>
		 	  <img src="../img/pinkfloyd.jpg">
		 	  <hr>
		 	  <h1>Divs</h1>
		 	  <div id = "blue"style="color:blue;border:dashed">
		 	  <p>Hello</p>
		 	</div>
         	<hr>
         	<div id = "red" style ="color:red">
         		<p>this is red</P>
         		</div>
         		<div id = "back" style = "background:red">
         			<br>
         			<br>




		 	  </div>



		 </body>
    </html>