<DOCTYPE html>

	<html>
		<head>
            <style type="text/css">
   .psycheimg{
  background-image: url(../img/psyche.jpg); 
}
            </style>
<body class="psycheimg">
  
			<title>Javascript Playground</title>
			<link rel="stylesheet" type="text/css" href="../css/main.css">
		</head>
		<body>
			  <div class="nav"> 
     	<ul>
     		<li><a class="default" href="../index.html">Home</a></li>
     		<li><a href="html-playground.html">HTML</a></li>
     		<li><a href="css-playground.html">CSS</a></li>
     		<li><a href="bootstrap-playground.html">Bootstrap</a></li>
     		<li><a href="Javascript-playground.html">Javascript</a></li>
     		<li><a href="jQuery-playground.html">jQuery</a></li>
     		<li><a href="git-playground.html">Git</a></li> 
     		<li><a href="Resources-playground.html">Resources</a></li>
      
        </ul>
             </div>
            <h1>Javscript Items</h1>

            <h2> Age</h2>
            <p> I am <a id="my-age"></a></p>
            <h2> Birth Year </h2>
            <p> I was born in  <a id="my-BirthYear"></a></p>
            <h2> Graduation Year </h2>
            <p> I will graduate in  <a id="my-GraduationYear"></a></p>
             <h2> Family </h2>
            <p> I have  <a id="my-family"></a> brothers</p>
             <h2> Babies </h2>
            <p> I have  <a id="my-babes"></a> babies</p>


            <h1> The Nigel True/False Game</h1>


            <h2> Nigel is a producer</h2>
<button type="button" onclick="alert(' I am a producer!')">Click to reveal!</button>
            <h2> Nigel knows how to play Piano</h2>
<button type="button" onclick="alert('Very False!')">Click to reveal!</button>
            <h2> Nigel loves  the Genre "Electronic"</h2>
<button type="button" onclick="alert('True, I love all Electronic Music!')">Click to reveal!</button>
            <h1> The Nigel True/False Game</h1>




                <script src="../js/scripts.js"></script>

        </body>

    </html>