<DOCTYPE html>

    <html>
        <head>
          
             <style type="text/css">
   .psycheimg{
  background-image: url(../img/psyche.jpg); 
}
            </style>
<body class="psycheimg">
        <title>Resources Playground</title>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        </head>
          <body>
           <div class="nav"> 
        <ul>
           <li><a class="default" href="../index.html">Home</a></li>
            <li><a href="html-playground.html">HTML</a></li>
            <li><a href="css-playground.html">CSS</a></li>
            <li><a href="bootstrap-playground.html">Bootstrap</a></li>
            <li><a href="Javascript-playground.html">Javascript</a></li>
            <li><a href="jQuery-playground.html">jQuery</a></li>
            <li><a href="git-playground.html">Git</a></li> 
            <li><a href="Resources-playground.html">Resources</a></li>
      </ul>
    </div>
    <!-- TODO: add correct image -->
           <div>
                          <h2>Inspiration & Motivation</h2>
            <p>Here's a little image to keep in mind when things get tough in coding.</p>
            <img src="../img/pinkfloyd.jpg"/>
          </div>
          <div class="resources">
            <h2>Resources</h2>
               <h3>Here are some good resources</h3>

  <table border="1">
      <tr>
        <td> Languages</td>
        <td> Site Names</td>
        <td> Link</td>
        <td> Description</td>
     </tr>
     <tr>
      <td> HTML, CSS, JavaScrpt, jQuery </td>
      <td> w3schools</td>
      <td><a href="https://www.w3schhols.com">w3schools</a></td>
      <td>This site has practice examples for basic web development.</td>
     </tr>
    <tr>
      <td>HTML, CSS, JavaScript, jQuery</td>
      <td> freecodecamp</td>
      <td><a href="https://freeCodeCamp.com">Freecodecamp</a></td>
      <td>This site will help you practice your skils.</td>
    </tr>
    <tr>
      <td> HTML, CSS, JavaScrpt, jQuery, Git, Command Line, Python </td>
      <td> CodeAcademy</td>
      <td><a href="https://www.codeacademy.com">Code Academy</a></td>
      <td>This site will help you practice your skills. Most popular free learning site.</td>
     </tr>
     <tr>
      <td>Bootstrap </td>
      <td> Bootstrap</td>
      <td><a href="https://www.startbootstrap.com">Bootsrap</a></td>
      <td>This site is a free HTML, CSS,& Javascript tool that allows you to develop responsive apps for laptop, tablets, and mobile devices.</td>
     </tr>
     <tr>
      <td> Any Language </td>
      <td> Stack Overflow</td>
      <td><a href="https://www.stackoverflow.com">Stackoverflow</a></td>
      <td>As you become more familiar with web developmen, this becomes a developer's best friend.</td>
     </tr>

  </table>

          </body>
    </html>